@import 'styles/variable.scss';

.FeedDetailContent-container {
  padding: 20px 30px;
  border: 1px solid $color-gray_01;
  border-radius: 4px;

  &.main-content {
    border: 1px solid $color-green;
  }

  em {
    display: block;
    padding-bottom: 10px;
    color: $color-gray_03;
    font-style: normal;
    margin-bottom: 17px;
    border-bottom: 1px solid $color-gray_01;
  }

  h2 {
    font-size: $font-large;
    margin: 0 0 10px;
    color: $color-black;
    line-height: 1.3;
  }

  p {
    margin: 0 0 15px;
    color: $color-gray_04;
    line-height: 1.5;
  }

  span {
    font-size: $font-small;
    color: $color-gray_02;
  }

  @media (max-width: 768px) {
    border-radius: 0;
    margin-top: 20px;
    padding: 20px 0;
    border-right: none;
    border-left: none;
    &.main-content {
      border-right: none;
      border-left: none;
    }
  }
}
