@import 'styles/variable.scss';
@import 'styles/mixin.scss';

.FeedItem-container {
  padding: 20px 30px;
  border: 1px solid $color-gray_01;
  border-radius: 4px;
  background-color: $color-white;

  .FeedItem-content {
    h2 {
      font-size: $font-large;
      margin: 17px 0;
      color: $color-black;
      @include textEllipsis;
    }

    p {
      color: $color-gray_04;

      @include textEllipsis;
    }
  }

  .FeedItem-sponsored {
    div {
      margin-right: 30px;
      float: left;
      max-width: 310px;

      img {
        max-height: 179px;
        width: 100%;
      }
    }

    h2 {
      @include clearTextEllipsis;
      @include webkitMultilineEllipsis(2);
    }
    p {
      @include clearTextEllipsis;
      @include webkitMultilineEllipsis(4);
    }
  }

  .FeedItem-content::after {
    display: block;
    content: '';
    clear: both;
  }

  & + & {
    margin-top: 20px;
  }

  @media (max-width: $device-mobile) {
    border: none;
    border-radius: 0;
    padding: 20px 15px;

    .FeedItem-sponsored {
      div {
        float: none;
        margin: 0;
        max-width: 100%;
      }

      p {
        @include webkitMultilineEllipsis(2);
      }
    }
    & + & {
      margin-top: 10px;
    }
  }
}
