$color-green: #00c854;
$color-white: #ffffff;
$color-gray_01: #e1e4e7;
$color-gray_02: #adb5bd;
$color-gray_03: #7e848a;
$color-gray_04: #495057;
$color-black: #282c30;

$font-small: 13px;
$font-regular: 16px;
$font-large: 18px;
$font-xlarge: 22px;
