.Feed-container {
  display: flex;
  max-width: 1140px;
  margin: 0 auto;
  padding-bottom: 30px;

  .Feed-btn-container {
    width: 25%;
    margin-right: 40px;
    button {
      width: 100%;
    }
  }

  .Feed-FeedList-container {
    width: 75%;
  }

  @media (max-width: 768px) {
    .Feed-btn-container {
      display: none;
    }

    .Feed-FeedList-container {
      box-sizing: border-box;
      width: 100%;
    }
  }
}
