@import 'styles/variable.scss';

.Feed-container {
  display: flex;
  max-width: 1140px;
  margin: 0 auto;
  padding-bottom: 30px;

  .Feed-btn-container {
    width: 23%;
    margin-right: 40px;

    button {
      width: 100%;
    }
  }

  .Feed-FeedList-container {
    width: 72%;
  }

  .Feed-FeedCategory-container {
    margin-bottom: 15px;

    span {
      display: inline-block;
      padding: 5px 10px;
      border: 1px solid $color-gray_01;
      border-radius: 5px;
      color: $color-gray_03;
      font-size: $font-small;
    }

    span + span {
      margin-left: 10px;
    }
  }

  @media (max-width: $device-mobile) {
    .Feed-btn-container {
      display: none;
    }

    .Feed-FeedList-container {
      box-sizing: border-box;
      width: 100%;
    }
    .Feed-FeedCategory-container {
      margin-bottom: 0;
      display: flex;
      justify-content: center;
      padding: 10px 15px;
      border-bottom: 1px solid $color-gray_01;
    }
  }
}
