@import 'styles/variable.scss';

.FeedDetail-container {
  max-width: 1140px;
  margin: 0 auto;
  padding-bottom: 30px;
  & > div {
    margin-bottom: 30px;
  }

  & > span {
    color: $color-black;

    span {
      color: $color-green;
    }
  }

  ul {
    margin-top: 10px;

    li + li {
      margin-top: 30px;
    }
  }
  @media (max-width: 768px) {
    padding: 0 15px 30px;
  }
}
