@import 'styles/variable.scss';

.ModalCheckbox-container {
  display: flex;
  align-items: center;

  input {
    width: 16px;
    height: 16px;
  }

  label {
    padding-left: 5px;
    color: $color-gray_04;
    vertical-align: middle;
  }
}
