@import 'styles/variable.scss';

.Header-container {
  padding: 23px 0;
  border-bottom: 1px solid $color-gray_01;
  margin-bottom: 50px;

  div {
    max-width: 1140px;
    margin: 0 auto;

    h2 {
      margin: 0;
    }
    button {
      font-size: $font-xlarge;
      border: 0;
      background: $color-white;
    }
  }

  @media (max-width: 768px) {
    margin-bottom: 15px;
    padding: 15px;

    border: none;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08);
  }
}
