@import '../../styles/variable.scss';

.Header-container {
  padding: 23px 0;
  border-bottom: 1px solid $color-gray_01;
  margin-bottom: 50px;
  h2 {
    max-width: 1140px;
    margin: 0 auto;
  }
}
